export(cleanMetaboNames,compSetSBR,compSetStats,compSetRatios,corrSetQC,paramsParsing,
loadAgilentData,loadMavenData,loadAgilentDataFlux,mapSetKegg,matchmzSet,mergeSet,deleteEntries,sortEntries, exportSetXLSX,plotSetMEic,
parseSampEIC,parseOneSampEIC,.GRparseSampEICCl,
gatherMultiEICs,.GRgatherMultiEICCl,gatherOneEIC,.GRaddmiss,.GRmergeInterval,.GRmergingEIC,
.GRmsPeakSimple,.GRconvEIC,
aggregCEF,.GRdoOneCef,.GRgetcomptime,.GRmgetTIC,.GRgetTIC,.GRcompVals,.GRcompTICaddRT,.GRfiltreScan,.GRestimBl,.GRcompEICst,.GRgetEicInfos,
.GRcompSeg,.GRcompSegOne,.GRmsPeakSimple3,.GRgroupPks,.GRchk2vec,integrOneEic,integrOneEicGrp,.GRinfctInt,.GRintegrOneEicGrpCl,
conv2metaboSet,.GRplotEIC,.GRplotMZ,
.GRcompAlignMGrpEIC,.GRcompAlignGrpEIC,.GRcompAlignOneEIC,.GRcompAlignEICs,.GRcorGrpEIC,
partitionPeaks,.GRfindturnpoint,.GRsplitOne,.GRgenpkl,
.GRsplitBoth2,.GRsplitBoth,.GRsplist,.GRsplistMZ,.GRcompdppm,
.GRisover,.GRisover2,.GRmergellx,.GRcombnPrim,
.GRcodadw,.GRcodadw2,.GRcoda,
.GRgetArea,.GRmsExtrema,.GRipeaks,.GRchksign,.GRatan,
.GRdoksmooth,.GRdoksmooth2,.GRasysm,.GRwhit2,.GRbslrf,
.GRfindROIs,.GRrawMat,.GRcompSBRCef,
.GRchkrange,printElapse,
.GRgetXMLFileInfos,.GRgetDirXMLInfos,
chkCalib,chkCalib.plotSum,chkCalib.plotTrace,
parseAgilentMRMXML,.GRparseMRMMethod,
.GRingetROIBl,.GRgetEICroi,.GRBlankEIC1
)

### register S3 methods
S3method(plot, metaboSet)
S3method(print, metaboSet)
S3method(summary, metaboSet)
S3method(update, metaboSet)

## imported functions

import(graphics)
import(stats)
import(chron)
import(car)
import(RColorBrewer)
import(XML)
import(beeswarm)
import(impute)
import(mgcv)
import(xlsx)
#import(KernSmooth)
#import(dplyr)

## 
useDynLib(GRMeta)

