export(cleanMetaboNames,compSetSBR,compSetStats,compSetRatios,corrSetQC,paramsParsing,
loadAgilentData,loadMavenData,loadAgilentDataFlux,mapSetKegg,matchmzSet,mergeSet,deleteEntries,sortEntries, exportSetXLSX,plotSetMEic,
parseSampEIC,parseOneSampEIC,.GRparseSampEICCl,
gatherMultiEICs,.GRgatherMultiEICCl,gatherOneEIC,
.GRgetArea,.GRmsExtrema,.GRdoksmooth,.GRipeaks,.GRmsPeakSimple,.GRconvEIC,
aggregCEF,.GRdoOneCef,.GRgetcomptime,.GRmgetTIC,.GRgetTIC,.GRcompVals,.GRcompTICaddRT,.GRfiltreScan,.GRcodadw,.GRcodadw2,.GRestimBl,
partitionPeaks,.GRfindturnpoint,.GRsplitOne,.GRsplitBoth,.GRsplist,.GRcompdppm,.GRgenpkl)

### register S3 methods
S3method(plot, metaboSet)
S3method(print, metaboSet)
S3method(summary, metaboSet)
S3method(update, metaboSet)

## imported functions

import(graphics)
import(stats)
import(chron)
import(car)
import(RColorBrewer)
import(XML)
import(beeswarm)
import(impute)
import(mgcv)
import(xlsx)
import(KernSmooth)


